* {
  margin: 0;
  padding: 0;
  font-family: "gilroy";
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
}
#left {
  position: relative;
  width: 40%;
  height: 100%;
}
#lnav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

#lnav h1 {
  display: flex;
  background-size: cover;
  background-position: bottom;
}
#lnavr {
  display: flex;
  align-items: center;
}

#lnav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
}
#lnavr i {
  color: rgb(69, 108, 224);
}
#left #text {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50, -50);
}

#text h1 {
  font-size: 90px;
  font-weight: 900;
  font-family: cursive;
}
#text p {
  opacity: 0.6;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
#text a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 700;
  opacity: 0.6;
}
#right {
  width: 60%;
  height: 100%;
  background-color: #fff;
}

#right-top {
  display: flex;
  width: 100%;
  height: 50%;
  background-color: cornflowerblue;
}
#right-bottom {
  width: 100%;
  height: 50%;
  background-image: url(av6.jpeg);
  background-size: cover;
  background-position: bottom;
}

#rtopleft {
  width: 55%;
  height: 100%;
  background-image: url(av3.jpeg);
  background-size: cover;
  background-position: bottom;
}
#rtopright {
  width: 45%;
  height: 100%;
  background-image: url(av7.png);
  background-size: cover;
  background-position: center;
}
@media (max-width: 500px) {
  #main {
    flex-direction: column;
  }
  #main #left {
    width: 100%;
  }
  #main #right {
    width: 100%;
  }
}
